@model ProductsListViewModel

<div class="row bg-light  w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
        <button style="position:relative; bottom: 40px; height: 35px" class="navbar-toggler ml-3 text-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mx-5 ">Catalog</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @await Component.InvokeAsync("CatalogNavItems", Model.CurrentCategory)
        </div>
    </nav>
</div>

<div class="row mt-3 m-1 p-1">

    @await Component.InvokeAsync("FilterCatalog", Model.CurrentCategory)

    <div class="col-md-9">
        @await Component.InvokeAsync("BreadcrumbCategory", Model.CurrentCategory)
        <div class="row">
            @foreach (var p in @Model.Products)
            {
                @Html.Partial("ProductSummary", p);
            }
        </div>
        <div class="text-center">
            @if (Model.CurrentBrand == null)
            {
                <div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-secondary"
                     page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory" class=" btn-group">
                </div>
            }
            else
            {
                <div page-model="@Model.PagingInfo" page-action="ShowBrandItems" page-classes-enabled="true"
                     page-class="btn" page-class-normal="btn-secondary"
                     page-class-selected="btn-primary" page-url-brand="@Model.CurrentBrand" page-url-category="@Model.CurrentCategory" class=" btn-group">
                </div>
            }
        </div>
    </div>

</div>

