@model IEnumerable<Category>

<ul class="navbar-nav mr-auto">
    @foreach (var category in @Model)
    {
        <li class="nav-item dropdown ">
            <a asp-controller="Product" asp-action="List" asp-route-category="@category.Name" class="nav-link btn-lg ml-5 mr-4 @(ViewBag.SelectedCategoryPassed == category.Name ? "text-danger  font-weight-bold" : "text-dark")"  id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                @category.Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var brand in category.Brands)
                {
                <a asp-controller="Product" asp-action="ShowBrandItems" asp-route-category="@category.Name" asp-route-brand="@brand.BrandID" class="dropdown-item">@brand.Name</a>
                }
            </div>
        </li>
    }
</ul>